{% extends 'base.html.twig' %}

{% block title %}Nouvel évenement{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Nouvel évenement</h1>
        
        {{ include('event/_form.html.twig') }}
    </div>
{% endblock %}
