{% extends 'base.html.twig' %}

{% block title %}About
{% endblock %}

{% block body %}
<div class="container">
        <div class="hero-section vh-100 d-flex align-items-center position-relative">
            <div class="overlay"></div>
            <div class="text-left position-relative">
                <h1 class="h1 mb-4">A propos de nous</h1>
                <p class="mb-3">Découvrez notre histoire et nos valeurs</p>
                <button class="btn btn-primary btn-lg" href="contact.html.twig">Contact</button>
            </div>
        </div>
        <div class="py-5">
            <h2 class="h2 mb-4">Nos valeurs</h2>
            <div class="container px-4 text-center">
                <div class="row gx-5">
                    <div class="col card">
                        <img src="" class="card-img-top" alt="Image Respect">
                        <h3 class="card-title">Respect</h3>
                        <p class="card-text">Respect mutuel et esprit sportif dans chaque partie.</p>
                    </div>
                    <div class="col card">
                        <img src="" class="card-img-top" alt="Image Convivialité">
                        <h3 class="card-title">Convivialité</h3>
                        <p class="card-text">Partage et bonne humeur autour de notre passion commune.</p>
                    </div>
                    <div class="col card">
                        <img src="" class="card-img-top" alt="Image progression">
                        <h3 class="card-title">Progression</h3>
                        <p class="card-text">Accompagnement de chacun dans son amélioration.</p>
                    </div>
                </div>
            </div>
            <div class="row py-5">
                <div class="col">
                    <h2 class="h2 mb-4">Notre histoire</h2>
                    <p>Fondé par quelques passionnés, notre club a vu le jour autour de l'envie de partager ce sport finlandais unique. Depuis nos débuts, nous accueillons régulièrement de nouveaux membres et organisons des rencontres conviviales tout au long de l'année.</p>
                </div>
                <div class="col">
                    <img src="" class="" alt="Image Notre histoire">
                </div>
            </div>
        </div>
    </div>

{% endblock %}
